// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
    background-color: white;
}

img {
    max-width: 100%;
}

.wrapper {
    background-color: #1c1c1c;
}

.jumbo {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
    position: relative;
}

.title-badge {
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    padding: 7px 30px;
    color: white;
}

.list-group-item {
    background-color: inherit;
    border: none;
    font-weight: 600;
}

.card {
    background-color: inherit;
    color: white;
    border: 0;
}

.card-img-container {
    width: 190px;
    display: flex;
    justify-content: center;
}

.card-img {
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    border: 0;
    border-radius: 0%;
}

button.btn {
    border: 0;
    border-radius: 0%;
}

.comics-nvabar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.comics-nvabar img {
    height: 50px;
}

.footer-body {
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.footer-footer {
    background-color: #303030;
    height: 100px;
}
